@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, dim --prefersdark;
}

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

html {
  scroll-behavior: smooth;
}
